@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9.8% 0.038 265.75);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(9.8% 0.038 265.75);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(9.8% 0.038 265.75);
  --color-primary: oklch(11.2% 0.028 265.75);
  --color-primary-foreground: oklch(98% 0.004 265.75);
  --color-secondary: oklch(96.1% 0.001 265.75);
  --color-secondary-foreground: oklch(11.2% 0.028 265.75);
  --color-muted: oklch(96.1% 0.001 265.75);
  --color-muted-foreground: oklch(46.9% 0.011 265.75);
  --color-accent: oklch(96.1% 0.001 265.75);
  --color-accent-foreground: oklch(11.2% 0.028 265.75);
  --color-destructive: oklch(60.2% 0.177 29.23);
  --color-destructive-foreground: oklch(98% 0.004 265.75);
  --color-border: oklch(91.4% 0.006 265.75);
  --color-input: oklch(91.4% 0.006 265.75);
  --color-ring: oklch(9.8% 0.038 265.75);
  
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: oklch(9.8% 0.038 265.75);
    --color-foreground: oklch(98% 0.004 265.75);
    --color-card: oklch(9.8% 0.038 265.75);
    --color-card-foreground: oklch(98% 0.004 265.75);
    --color-popover: oklch(9.8% 0.038 265.75);
    --color-popover-foreground: oklch(98% 0.004 265.75);
    --color-primary: oklch(98% 0.004 265.75);
    --color-primary-foreground: oklch(11.2% 0.028 265.75);
    --color-secondary: oklch(17.5% 0.019 265.75);
    --color-secondary-foreground: oklch(98% 0.004 265.75);
    --color-muted: oklch(17.5% 0.019 265.75);
    --color-muted-foreground: oklch(65.1% 0.013 265.75);
    --color-accent: oklch(17.5% 0.019 265.75);
    --color-accent-foreground: oklch(98% 0.004 265.75);
    --color-destructive: oklch(30.6% 0.132 29.23);
    --color-destructive-foreground: oklch(98% 0.004 265.75);
    --color-border: oklch(17.5% 0.019 265.75);
    --color-input: oklch(17.5% 0.019 265.75);
    --color-ring: oklch(83.9% 0.014 265.75);
  }
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

